[Unit]
Description=BlossomOS DX Group Setup
After=systemd-user-sessions.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/blossomos-dx-groups

[Install]
WantedBy=multi-user.target
