[Unit]
Description=BlossomOS DX VSCode User Setup
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/blossomos-dx-user-vscode

[Install]
WantedBy=default.target
