[Unit]
Description=Install all org.kde.KStyle.BlossomUI branches
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/blossomos-flatpak-kstyle-branches

[Install]
WantedBy=multi-user.target
