[Unit]
Description=BlossomOS Snapper Home Config Setup
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/blossomos-snapper-setup

[Install]
WantedBy=multi-user.target
