[Unit]
Description=Install OS-provided flatpaks
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall --system -y --noninteractive

[Install]
WantedBy=multi-user.target
